{% extends "base/unauthenticated.html" %}
{% block title %}Home{% endblock %}
{% block body %}
      <div class="row">
          <div class="col-md-5 col-md-offset-4 well well-lg">
              <div id="login">
                  <h1>Register for an account</h1>

                  <form action="/register" method="post" class="form-horizontal">
                      <div class="form-group">
                          {{ form.first_name(maxlength="40", class="form-control", placeholder="First Name", required=True) }}
                        </div>

                        <div class="form-group">
                            {{ form.last_name(maxlength="40", class="form-control", placeholder="Last Name", required=True) }}
                        </div>

                      <div class="form-group">
                          {{ form.email(maxlength="40", type="email", class="form-control", placeholder="Email", required=True) }}
                      </div>
                        <div class="form-group">
                            {{ form.password(minlength="6", maxlength="30", class="form-control", placeholder="Password", required=True) }}
                        </div>
                        <div class="form-group">
                            {{ form.repassword(minlength="6", maxlength="30", class="form-control", placeholder="Confirm Password", required=True) }}
                        </div>
                      <div class="form-group">
                        <button class="btn btn-info"/>Sign Up</button>
                        <a href="/" class="btn btn-warning pull-right">Back to Login</a>
                      </div>

                  </form>
                </div>
          </div>
        </div>
{% endblock %}